.assignment {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 35px;
  margin-left: 280px ;
  
  align-items: center;
  display: flex;
 
  
}

.assessment{
  position: relative;
  color:#1C4980;
}

.assessment::after {
  content: ''; /* Create the vertical line using pseudo-element */
  position: absolute;
 
  bottom: auto;
  left: 100%; /* Position the line to the right of the title */
  width: 4px;
  height: 80px;
  border-color: #f2f2f5;
  background-color: #f2f2f5; 
  margin-left: 40px; 
  
}

.my-assessment {
  margin-left: 90px;
  font-size: 25px;
  color:hsl(210, 100%, 45%);
}


